[submodule "sysrepo-plugins"]
	path = src/sysrepo-plugins
	url = https://github.com/henrymao-zz/sysrepo-plugins.git
[submodule "src/libyang"]
	path = src/libyang
	url = https://github.com/CESNET/libyang.git
[submodule "src/sysrepo"]
	path = src/sysrepo
	url = https://github.com/sysrepo/sysrepo.git
[submodule "src/libyang-cpp"]
	path = src/libyang-cpp
	url = https://github.com/CESNET/libyang-cpp.git
[submodule "src/sysrepo-cpp"]
	path = src/sysrepo-cpp
	url = https://github.com/sysrepo/sysrepo-cpp.git
[submodule "src/umgmt"]
	path = src/umgmt
	url = https://github.com/sartura/umgmt.git
