[submodule "sysrepo-plugins"]
	path = sysrepo-plugins
	url = https://github.com/telekom/sysrepo-plugins.git
[submodule "deps/libyang"]
	path = deps/libyang
	url = https://github.com/CESNET/libyang.git
[submodule "deps/sysrepo"]
	path = deps/sysrepo
	url = https://github.com/sysrepo/sysrepo.git
[submodule "deps/libyang-cpp"]
	path = deps/libyang-cpp
	url = https://github.com/CESNET/libyang-cpp.git
[submodule "deps/sysrepo-cpp"]
	path = deps/sysrepo-cpp
	url = https://github.com/sysrepo/sysrepo-cpp.git
[submodule "deps/umgmt"]
	path = deps/umgmt
	url = https://github.com/sartura/umgmt.git
